

@import "tailwindcss";
@source "./pages";
@source "./components";
@plugin "daisyui"{ 
  themes: dim, Pale Aqua;
} 

html,
body {
  line-height: 2;
}

@plugin "daisyui/theme" {
  name: "dim";
  --color-primary: #2a303c;
}

@plugin "daisyui/theme" {
  name: "Pale Aqua";
  default: true;
  --color-primary: #e0ffff;
}

[data-theme="Pale Aqua"] {
    background-color: #e0ffff; 
    color: #2a303c;
}


[data-theme="dim"] {
    background-color: #2a303c; 
}


.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}